@font-face {
  font-family: Kanit;
  src: url(fonts/Kanit/Kanit-BoldItalic.ttf);
}

.grid-container{
	display: grid;
	grid-template-columns: 1fr 1fr;
	
	grid-template-areas:
		"header header"
		"aboutme projects"
		"photography contact";

}

body {
	background-color: black;
	font-family: 'Kanit';
}

/*HEADER*/

.box-1 {
	grid-area: header;
	background-color: white;
	width: 500px;
	height: 200px;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
    transform: translate(-50%, -50%);
}

#name {
	margin: 0;
	position: absolute;
	font-size: 100px;
	top: 50%;
	left: 50%;
	margin-right: -50%;
    transform: translate(-50%, -50%);
	text-align: center;
	text-transform: uppercase;
	z-index: 100;
}

#overlay {
	margin: 0;
	position: absolute;
	font-size: 100px;
	top: 51%;
	left: 49%;
	margin-right: -50%;
    transform: translate(-50%, -50%);
	text-align: center;
	text-transform: uppercase;
	color: #FB3FF9;
}

#studie {
	margin: 0;
	position: absolute;
	font-size: 20px;
	top: -22px;
	text-transform: uppercase;
	color: white;
}

#birth {
	margin: 0;
	position: absolute;
	font-size: 20px;
	top: 170px;
	left: 450px;
	text-transform: uppercase;
	color: black;
}

.box-2 {
	grid-area: aboutme;
	width: 50%;
	text-align: center;
}

.box-3 {
	grid-area: projects;
	width: 50%;
	text-align: center;
}

.box-4 {
	grid-area: photography;
	width: 50%;
	text-align: center;
}

.box-5 {
	grid-area: contact;
	width: 50%;
	text-align: center;
}

a:link {
	display: none;
}

/* IPAD SIZE */
@media only screen and (min-width: 768px) {

	

}

	/* DESKTOP SIZE */
@media only screen and (min-width: 1024px) {

a:link {
	display: block;
	text-decoration-line: none;
	font-size: 50px;
	color: white;
	font-family: 'Kanit';
}

a:hover {
	color: #FB3FF9;
}

a:visited {
  color: white;
}

}






